// font styles
$Roboto: "Roboto", sans-serif;
$DM-sans: "DM Sans", sans-serif;
// font sizes
$font-18: 18px;
$font-14: 14px;
$font-12: 12px;
$font-10: 10px;
$font-18: 18px;
$font-16: 16px;
$font-23: 23px;
// color
$color-1: #ffffff;
$color-2: #fafafa;
$color-3: #2148b1;
$color-4: #4169d5;
$color-5: #000000;
$color-6: #8e9094;
$color-7: #ff5127;
$color-8: #020812;
$color-9: #3a3f46;
// $color-10: #dee2e6;
$color-11: #dff1fe;
$color-12: #e8edfa;
$color-13: #3b4960;
$color-14: #f2f4fa;
$color-15: #3d4b61;
$color-16: #3b4960;
$color-17: #57a4fc;
$color-18: #c6e7ff;
$color-19: #676a70;
$color-20: #e1e2e3;
$color-21: #edf1fd;
$color-22: #d3dfff;
$color-23: #2867e8;
// $color-24: #282d36;
$color-25: #6d7788;
