@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  list-style-type: none;
}

.navbar {
  border: none;
  border-radius: 0;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.first-row {
  background-color: #ffffff;
}
.first-row span.logo {
  padding: 25px 15px;
}
.first-row .search-col {
  color: #000000;
  margin: 25px 0 0 -54px;
}
.first-row .search-col input {
  border: none;
  color: #8e9094;
  outline: none;
  font-size: 16px;
}
.first-row .top-right {
  display: flex;
  align-items: center;
  float: right;
  margin: 14px -35px 14px 0;
}
.first-row .top-right .notif {
  margin: 0 33px 0 0;
}
.first-row .top-right .notif .bell-dot {
  height: 6px;
  width: 6px;
  float: right;
  margin: 5px 0 0 -7px;
  /* margin: -20px 91px 0 8px; */
  display: flex;
  background: #ff5127;
  border-radius: 50%;
}
.first-row .top-right .user-name {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 9px;
}
.first-row .top-right .user-name span.user {
  font-size: 14px;
  color: #020812;
}
.first-row .top-right .user-name span.position {
  font-size: 14px;
  color: #020812;
  opacity: 0.6;
}

.second-row {
  background-color: #fafafa;
}
.second-row .wrapper {
  display: flex;
  position: relative;
  width: 100%;
  padding: 0;
}
.second-row .wrapper #sidebar {
  transition: all 0.3s;
  height: 100%;
  max-height: 100%;
  opacity: 1;
  background: #2148b1;
  width: 120px;
}
.second-row .wrapper #sidebar .sidebar-menu {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 -15px;
  font-size: 14px;
}
.second-row .wrapper #sidebar .sidebar-menu li {
  margin: 0 0 40px 0;
}
.second-row .wrapper #sidebar .sidebar-menu li a {
  display: grid;
  justify-content: center;
  justify-items: center;
}
.second-row .wrapper #sidebar .sidebar-menu .have-children {
  text-align: center;
}
.second-row .wrapper #sidebar .sidebar-menu .image-icons {
  margin: 0 0 10px 0;
}
.second-row .wrapper #sidebar .sidebar-menu .item-name {
  color: #ffffff;
}
.second-row .wrapper #sidebar.toggled {
  max-width: 0px;
  overflow-x: hidden;
  z-index: 1;
}
.second-row .wrapper #sidebar2 {
  transition: all 0.3s;
  height: 100%;
  max-height: 100%;
  opacity: 1;
  background: #4169d5;
  width: 240px;
}
.second-row .wrapper #sidebar2 .sidebar-menu {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 -15px;
  font-size: 14px;
}
.second-row .wrapper #sidebar2 .sidebar-menu li {
  margin: 0 0 19px 0;
  text-align: left;
}
.second-row .wrapper #sidebar2 .sidebar-menu .image-icons {
  margin: 0 0 3px 0;
}
.second-row .wrapper #sidebar2 .sidebar-menu .item-name {
  color: #ffffff;
  margin: 8px 0px 0 0px;
}
.second-row .wrapper #sidebar2 h2.management {
  font-size: 16px;
  padding: 2rem 0 1rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
.second-row .wrapper #sidebar2 .no-children a:hover {
  color: inherit;
  text-decoration: none;
  background: #4169d5;
  opacity: 0.3;
}
.second-row .wrapper #sidebar2.toggled {
  max-width: 0px;
  overflow-x: hidden;
  z-index: 1;
}

.iconactive {
  border-radius: 4px;
  background-color: #57a4fc;
  padding: 11px 14px 0px;
}

.btn-info:not(:disabled):not(.disabled).active {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
}
.btn-info:not(:disabled):not(.disabled).active:focus {
  box-shadow: none;
}
.btn-info:not(:disabled):not(.disabled):active {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
}
.btn-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.show > .btn-info.dropdown-toggle {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
}
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: none;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

.btn-info {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
}
.btn-info.focus {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  border: none !important;
  box-shadow: none;
}
.btn-info:focus {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  border: none !important;
  box-shadow: none;
}
.btn-info:hover {
  background-color: transparent;
  border-color: transparent;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
#content .dashboard-heading {
  font-size: 18px;
  font-weight: 700;
  padding-left: 0.2rem;
  color: #020812;
}
#content .dashboard-enquiry {
  font-size: 12px;
  color: #3a3f46;
  padding-left: 0.2rem;
}
#content .container-fluid.top-row {
  background: #dff1fe;
}
#content .container-fluid.top-row span.parent {
  display: flex;
  font-size: 14px;
  color: #4169d5;
  font-weight: 500;
  padding: 1.5rem 15px 0;
}
#content .container-fluid.top-row span.close-button {
  background: #c6e7ff;
  border-radius: 50px;
  height: 24px;
  width: 24px;
  margin: 19px 0 0 26px;
}
#content .container-fluid.top-row span.close-button img {
  padding: 1px 0px 2px 7px;
}

.row.middle-row {
  margin: 13px 0 0;
  background-color: #ffffff;
}
.row.middle-row .card.colored {
  flex-direction: row;
  background: #e8edfa;
  border: none;
  border-radius: 0;
}
.row.middle-row .card.colored span.round-1 {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  margin: 18px 0 0 6px;
  background: #4169d5;
}
.row.middle-row .card.colored span.round-1 img.card-img-left {
  padding: 6px 0 0 10px;
}
.row.middle-row .card.colored span.round-1 .dot1 {
  height: 11px;
  width: 11px;
  float: right;
  margin: -1px -4px 0 -8px;
  display: flex;
  background: #ff5127;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.row.middle-row .card.colored .card-body {
  padding: 0;
  margin: 21px 0 10px 11px;
}
.row.middle-row .card.colored .card-body p.card-title {
  font-size: 14px;
  color: #020812;
  font-weight: 500;
  margin: 0px 0 0 0px;
}
.row.middle-row .card.colored .card-body p.card-text {
  font-size: 12px;
  color: #3b4960;
  margin: 0;
  opacity: 0.6;
}
.row.middle-row .card.colored2 {
  flex-direction: row;
  background: #e8edfa;
  border: none;
  border-radius: 0px 34px 34px 0px;
}
.row.middle-row .card.colored2 hr {
  border-bottom: 1px solid #4169d5;
  border-top: 0px;
  width: 35px;
  margin: 31px 10px 0 10px;
}
.row.middle-row .card.colored2 span.round-1 {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  margin: 18px 0 0 6px;
  background: #4169d5;
}
.row.middle-row .card.colored2 span.round-1 img.card-img-left {
  padding: 6px 0 0 8px;
}
.row.middle-row .card.colored2 span.round-1 .dot1 {
  height: 11px;
  width: 11px;
  float: right;
  margin: -1px -4px 0 -8px;
  display: flex;
  background: #ff5127;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.row.middle-row .card.colored2 .card-body {
  padding: 0;
  margin: 21px 36px 10px 11px;
}
.row.middle-row .card.colored2 .card-body p.card-title {
  font-size: 14px;
  color: #3d4b61;
  font-weight: 500;
  margin: 0px 0 0 0px;
}
.row.middle-row .card.colored3 {
  flex-direction: row;
  background: #ffffff;
  border: none;
  border-radius: 0;
}
.row.middle-row .card.colored3 hr.dashed {
  border-bottom: 1px dashed #4169d5;
  border-top: 0px;
  width: 35px;
  margin: 31px 3px 0 -15px;
}
.row.middle-row .card.colored3 span.round-1 {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  margin: 18px 0 0 6px;
  background: #f2f4fa;
}
.row.middle-row .card.colored3 span.round-1 img.card-img-left {
  padding: 6px 0 0 10px;
}
.row.middle-row .card.colored3 span.round-1 .dot1 {
  height: 11px;
  width: 11px;
  float: right;
  margin: -1px -4px 0 -8px;
  display: flex;
  background: #ff5127;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.row.middle-row .card.colored3 .card-body {
  padding: 0;
  margin: 21px 24px 10px 11px;
}
.row.middle-row .card.colored3 .card-body p.card-title {
  font-size: 14px;
  color: #3d4b61;
  font-weight: 500;
  margin: 0px 0 0 0px;
}

hr.solid {
  border-bottom: 1px solid #f2f4fa;
  border-top: 0px;
  width: 35px;
  margin: 31px 14px 0 -3px;
}

.row.registration-row.bg-white {
  margin: 13px 0 0;
}
.row.registration-row.bg-white h3.mb-3.enrollment-heading {
  font-size: 16px;
  font-weight: 700;
  padding: 1rem;
  color: #020812;
}

.nav-pills .nav-link.active {
  background-color: #ffffff;
  border-bottom: 2px solid #4169d5;
  border-radius: 0;
  font-weight: 700;
  color: #4169d5;
}
.nav-pills .show > .nav-link {
  background-color: #ffffff;
  border-bottom: 2px solid #4169d5;
  border-radius: 0;
  font-weight: 700;
  color: #4169d5;
}

.nav-pills .nav-link.active img {
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.tab-content {
  padding: 2rem;
}

.nav-tab-row {
  justify-content: space-between;
  width: 100%;
  margin: 0 1rem;
  border-bottom: 1px solid #8e9094;
}
.nav-tab-row ul.nav.nav-pills {
  /* border-bottom: 1px solid #fafafa; */
  margin: 0 0 0 -48px;
}
.nav-tab-row ul.nav.nav-pills li.nav-item {
  padding-left: 3rem;
  font-size: 14px;
}
.nav-tab-row ul.nav.nav-pills li.nav-item span.detail {
  padding: 0 0 0 5px;
}

.row.application-number {
  flex-direction: column;
  width: 35%;
}
.row.application-number label {
  font-size: 14px;
  width: 100%;
  color: #3b4960;
  font-weight: 500;
}
.row.application-number input[type=text] {
  font-size: 14px;
  border: 1px solid #676a70;
  width: 260px;
  border-radius: 4px;
  margin: 0 0 0 1px;
  padding: 2px 0px 2px 4px;
}

.row.name-row {
  margin: 16px -15px 0 -31px;
}
.row.name-row .name-col-1 label {
  font-size: 14px;
  width: 100%;
  color: #3b4960;
}
.row.name-row .name-col-1 input[type=text] {
  font-size: 14px;
  border: 1px solid #676a70;
  width: 260px;
  border-radius: 4px;
  margin: 0 0 0 1px;
  padding: 5px 34px 5px 4px;
}
.row.name-row .name-col-2 label {
  font-size: 14px;
  width: 100%;
  color: #3b4960;
}
.row.name-row .name-col-2 input[type=text] {
  font-size: 14px;
  border: 1px solid #676a70;
  width: 260px;
  border-radius: 4px;
  margin: 0 0 0 1px;
  padding: 5px 45px 5px 4px;
}

.row.contact-row {
  margin: 16px -15px 0 -31px;
}
.row.contact-row .name-col-1 label {
  font-size: 14px;
  width: 100%;
  color: #3b4960;
}
.row.contact-row .name-col-1 input[type=text] {
  font-size: 14px;
  border: 1px solid #676a70;
  width: 260px;
  border-radius: 4px;
  margin: 0 0 0 1px;
  padding: 5px 19px 5px 37px;
  background: url(../pics/flag.png) no-repeat;
  background-position: 4px;
}
.row.contact-row .name-col-2 label {
  font-size: 14px;
  width: 100%;
  color: #3b4960;
}
.row.contact-row .name-col-2 input[type=text] {
  font-size: 14px;
  border: 1px solid #676a70;
  width: 260px;
  border-radius: 4px;
  margin: 0 0 0 1px;
  padding: 5px 19px 5px 37px;
  background: url(../pics/flag.png) no-repeat;
  background-position: 4px;
}

.row.parent-details {
  padding: 1.5rem 0 0;
  font-size: 14px;
}
.row.parent-details h3 {
  font-size: 14px;
  font-weight: 700;
}

.row.academic-year {
  margin: 16px 0 0 -17px;
}
.row.academic-year .student-relation {
  padding: 0;
}
.row.academic-year .student-relation label {
  font-size: 14px;
  width: 100%;
  color: #3b4960;
}
.row.academic-year .student-relation .wrap .custom-select {
  border: 1px solid #676a70;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 auto;
  padding: 7px;
  width: 260px;
  color: #e1e2e3;
}

button.add-parent {
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #4169d5;
  border-radius: 4px;
  text-align: center;
  padding: 6px 11px;
  margin: 20px 0 0 -18px;
  background: #edf1fd 0% 0% no-repeat padding-box;
  border: 1px solid #d3dfff;
}

.row.radio-button-row {
  margin: 16px 0 0 -17px;
}
.row.radio-button-row label {
  font-size: 14px;
  width: 100%;
  color: #3b4960;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #ffffff;
  border: none;
  background-color: #2867e8;
}

.row.academic-row {
  margin: 16px -15px 0 -31px;
}
.row.academic-row .name-col-1 label {
  font-size: 14px;
  width: 100%;
  color: #3b4960;
}
.row.academic-row .name-col-1 input[type=date] {
  color: #e1e2e3;
  width: 260px;
  font-size: 14px;
  padding: 5px 13px 5px 4px;
  border: 1px solid #676a70;
  border-radius: 4px;
  text-transform: uppercase;
}
.row.academic-row .name-col-2 label {
  font-size: 14px;
  width: 100%;
  color: #3b4960;
}
.row.academic-row .name-col-2 .wrap .custom-select {
  border: 1px solid #676a70;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 auto;
  padding: 7px;
  width: 260px;
  color: #e1e2e3;
}

.row.gender-row {
  margin: 16px -15px 0 -31px;
}
.row.gender-row .name-col-1 label {
  font-size: 14px;
  width: 100%;
  color: #3b4960;
  /* padding: 0; */
}
.row.gender-row .name-col-2 label {
  font-size: 14px;
  width: 100%;
  color: #3b4960;
  /* padding: 0; */
}
.row.gender-row .name-col-2 input[type=date] {
  color: #e1e2e3;
  width: 260px;
  font-size: 14px;
  padding: 5px 13px 5px 4px;
  border: 1px solid #676a70;
  border-radius: 4px;
  text-transform: uppercase;
}

.row.select-row {
  margin: 16px -15px 0 -31px;
}
.row.select-row .name-col-1 label {
  font-size: 14px;
  width: 100%;
  color: #3b4960;
  /* padding: 0; */
}
.row.select-row .name-col-1 .wrap .custom-select {
  border: 1px solid #676a70;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 auto;
  padding: 7px;
  width: 260px;
  color: #e1e2e3;
}
.row.select-row .name-col-2 label {
  font-size: 14px;
  width: 100%;
  color: #3b4960;
  /* padding: 0; */
}
.row.select-row .name-col-2 .wrap .custom-select {
  border: 1px solid #676a70;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 auto;
  padding: 7px;
  width: 260px;
  color: #e1e2e3;
}

::-moz-placeholder {
  color: #020812;
  opacity: 0.3;
}

:-ms-input-placeholder {
  color: #020812;
  opacity: 0.3;
}

::placeholder {
  color: #020812;
  opacity: 0.3;
}

input {
  outline-color: #4169d5;
}

input[type=date]::-webkit-calendar-picker-indicator {
  margin-left: 80px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .custom-select {
    background: #ffffff url(../pics/david-down-arrow.png) 95% 50% no-repeat;
  }
}
.row.cancel-save-row {
  margin-top: 92.5px;
  margin-right: -144px;
  justify-content: flex-end;
  /* width: 100%; */
}
.row.cancel-save-row button.cancel {
  border: 1px solid #4169d5;
  font-size: 14px;
  padding: 5px 16px;
  border-radius: 4px;
  background: #ffffff;
  color: #4169d5;
}
.row.cancel-save-row button.save {
  border: none;
  padding: 6px 19px;
  background: #4169d5;
  font-size: 14px;
  border-radius: 4px;
  color: #ffffff;
}

footer .row {
  background-color: #ffffff;
  padding: 17px;
  font-size: 12px;
  display: flex;
  margin: 20px -20px -20px -20px;
  justify-content: flex-end;
  color: #6d7788;
}
footer .row span {
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  #sidebar {
    position: absolute;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    z-index: 100;
  }
  #sidebar2 {
    position: absolute;
    z-index: 100;
    left: 120px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
  }
  .navbar {
    margin: 0 0 0 -15px;
  }
  .first-row .search-col {
    margin: 25px -13px 0 0px;
  }
  .first-row .top-right {
    margin: 14px -20px 11px -14px;
  }
  #content .container-fluid.top-row span.close-button {
    margin: -59px 0 0 640px;
  }
  .row.middle-row {
    flex-wrap: nowrap;
  }
  .row.middle-row .card.colored2 hr {
    width: 85px;
    margin: 31px 9px 0 -15px;
  }
  .nav-tab-row {
    margin: 0 3rem;
  }
  .nav-tab-row ul.nav.nav-pills li.nav-item {
    padding-left: 1.1rem;
  }
  .row.cancel-save-row {
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  #sidebar {
    position: absolute;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    z-index: 100;
  }
  #sidebar2 {
    position: absolute;
    z-index: 100;
    left: 120px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
  }
  .first-row .top-right {
    margin: 14px -118px 14px 0;
  }
  img.search {
    margin: 6px 0 0 -72px;
  }
  .first-row .search-col input {
    padding: 3px 0 0 5px;
    margin: 0;
    position: absolute;
  }
  .first-row .search-col {
    margin: 18px 0 0 -116px;
  }
  .nav-tab-row ul.nav.nav-pills li.nav-item {
    padding-left: 1.1rem;
  }
  .nav-tab-row ul.nav.nav-pills {
    margin: 2px 0 0 -17px;
  }
  .nav-tab-row {
    margin: 0;
  }
}
@media screen and (width: 540px) {
  .first-row .top-right {
    /* margin: 14px -118px 14px 0; */
    margin: -59px 0 0 0;
  }
  .first-row .search-col {
    margin: -52px 0 0 208px;
  }
  .nav-link {
    padding: 0.5rem 0rem;
  }
  .nav-tab-row ul.nav.nav-pills li.nav-item {
    padding-left: 1rem;
  }
  .nav-tab-row ul.nav.nav-pills {
    margin: 0;
    flex-direction: column;
  }
  #content .container-fluid.top-row span.close-button {
    margin: -59px 0 0 486px;
  }
  .row.select-row,
.row.gender-row,
.row.name-row,
.row.academic-row,
.row.contact-row {
    flex-direction: column;
  }
  .row.cancel-save-row {
    margin-right: 0px;
  }
  .row.middle-row {
    flex-wrap: wrap;
  }
  .row.middle-row .card.colored {
    width: 100%;
  }
  .row.middle-row .card.colored span.round-1 {
    margin: 18px 6px 0 85px;
  }
  .row.middle-row .card.colored2 {
    width: 100%;
    border-radius: 0px;
  }
  .row.middle-row .card.colored2 hr {
    width: 0;
    height: 17px;
    margin: -4px 14px 0 180px;
  }
  .row.middle-row .card.colored2 span.round-1 {
    margin: 21px 0 0 -106px;
  }
  .row.middle-row .card.colored3 {
    width: 100%;
  }
  .row.middle-row .card.colored3 hr.dashed {
    width: 0;
    height: 17px;
    margin: -2px 3px 0 179px;
  }
  .row.middle-row .card.colored3 span.round-1 {
    margin: 23px 0 0 -96px;
  }
  hr.solid {
    width: 0;
    height: 17px;
    margin: -2px 3px 0 179px;
  }
}
@media screen and (max-width: 479px) {
  #sidebar {
    position: absolute;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    z-index: 100;
  }
  #sidebar2 {
    position: absolute;
    z-index: 100;
    left: 120px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
  }
  .first-row .top-right {
    margin: -109px -1px -4px;
  }
  .first-row .search-col {
    margin: -1px 15px 25px 90px;
  }
  #content .container-fluid.top-row span.close-button {
    margin: -114px 0 0 213px;
  }
  .row.middle-row {
    flex-wrap: wrap;
  }
  .row.middle-row .card.colored {
    width: 100%;
  }
  .row.middle-row .card.colored span.round-1 {
    margin: 18px 6px 0 85px;
  }
  .row.middle-row .card.colored2 {
    width: 100%;
    border-radius: 0px;
  }
  .row.middle-row .card.colored2 hr {
    width: 0;
    height: 17px;
    margin: -4px 14px 0 180px;
  }
  .row.middle-row .card.colored2 span.round-1 {
    margin: 21px 0 0 -106px;
  }
  .row.middle-row .card.colored3 hr.dashed {
    width: 0;
    height: 17px;
    margin: -2px 3px 0 179px;
  }
  .row.middle-row .card.colored3 span.round-1 {
    margin: 23px 0 0 -96px;
  }
  hr.solid {
    width: 0;
    height: 17px;
    margin: -2px 3px 0 179px;
  }
  .nav-tab-row {
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid #8e9094;
  }
  ul.nav.nav-pills {
    /* border-bottom: 1px solid #fafafa; */
    flex-direction: column;
  }
  li.nav-item {
    padding-left: 3rem;
  }
  .nav-link {
    padding: 0.2rem 0.5rem;
  }
  .row.select-row,
.row.gender-row,
.row.name-row,
.row.academic-row,
.row.contact-row {
    flex-direction: column;
  }
  .row.cancel-save-row {
    margin-right: 0px;
  }
}
@media screen and (max-width: 280px) {
  .first-row .top-right {
    margin: -60px -14px -26px 9px;
  }
  .second-row .wrapper #sidebar2 {
    width: auto;
  }
  .first-row .top-right .notif {
    margin: 0 4px 0 0;
  }
  #content .container-fluid.top-row span.close-button {
    margin: -75px 0 0 213px;
  }
  .row.cancel-save-row {
    margin-right: -3px;
  }
  .row.select-row .col-6.name-col-2 .wrap .custom-select,
.row.select-row .col-6.name-col-1 .wrap .custom-select,
.row.academic-row .col-6.name-col-2 .wrap .custom-select {
    width: 100%;
  }
  .row.gender-row .col-6.name-col-2 input[type=date],
.row.academic-row .col-6.name-col-1 input[type=date],
.row.name-row .col-6.name-col-2 input[type=text],
.row.name-row .col-6.name-col-1 input[type=text],
.row.contact-row .col-6.name-col-1 input[type=text],
.row.contact-row .col-6.name-col-2 input[type=text],
.row.academic-year .student-relation .wrap .custom-select,
.row.application-number input[type=text] {
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */