@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

@import "variable";
@import "util";

body {
  font-family: $Roboto;
  overflow-x: hidden;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

li {
  list-style: none;
  list-style-type: none;
}

.navbar {
  border: none;
  border-radius: 0;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.first-row {
  background-color: $color-1;
  span.logo {
    padding: 25px 15px;
  }
  .search-col {
    color: $color-5;
    margin: 25px 0 0 -54px;
    input {
      border: none;
      color: $color-6;
      outline: none;
      font-size: 16px;
    }
  }
  .top-right {
    display: flex;
    align-items: center;
    float: right;
    margin: 14px -35px 14px 0;
    .notif {
      margin: 0 33px 0 0;
      .bell-dot {
        height: 6px;
        width: 6px;
        float: right;
        margin: 5px 0 0 -7px;
        /* margin: -20px 91px 0 8px; */
        display: flex;
        background: $color-7;
        border-radius: 50%;
      }
    }
    .user-name {
      display: flex;
      flex-direction: column;
      margin: 0 0 0 9px;
      span.user {
        font-size: $font-14;
        color: $color-8;
      }
      span.position {
        font-size: $font-14;
        color: $color-8;
        opacity: 0.6;
      }
    }
  }
}

.second-row {
  background-color: $color-2;
  // background-color: #1cb995;
  .wrapper {
    display: flex;
    position: relative;
    // height: 100%;
    width: 100%;
    padding: 0;
    #sidebar {
      @include sidebar-property;
      background: $color-3;
      width: 120px;
      .sidebar-menu {
        @include sidebarmenu;
        li {
          margin: 0 0 40px 0;
          a {
            display: grid;
            justify-content: center;
            justify-items: center;
          }
        }
        .have-children {
          text-align: center;
        }
        .image-icons {
          margin: 0 0 10px 0;
        }
        .item-name {
          color: $color-1;
        }
      }
      &.toggled {
        max-width: 0px;
        overflow-x: hidden;
        z-index: 1;
      }
    }

    #sidebar2 {
      @include sidebar-property;
      background: $color-4;
      width: 240px;
      .sidebar-menu {
        @include sidebarmenu;
        li {
          margin: 0 0 19px 0;
          text-align: left;
        }
        .image-icons {
          margin: 0 0 3px 0;
        }
        .item-name {
          color: $color-1;
          margin: 8px 0px 0 0px;
        }
      }
      h2.management {
        font-size: $font-16;
        padding: 2rem 0 1rem;
        font-weight: 500;
        color: $color-1;
        text-align: center;
      }
      .no-children a:hover {
        color: inherit;
        text-decoration: none;
        background: $color-4;
        opacity: 0.3;
      }
      &.toggled {
        max-width: 0px;
        overflow-x: hidden;
        z-index: 1;
      }
    }
  }
}
// #sidebar2 .no-children a:hover {
//   color: inherit;
//   text-decoration: none;
//   background: $color-4;
//   opacity: 0.3;
// }

// #sidebar.toggled,
// #sidebar2.toggled {
//   max-width: 0px;
//   overflow-x: hidden;
//   z-index: 1;
// }
.iconactive {
  border-radius: 4px;
  background-color: $color-17;
  padding: 11px 14px 0px;
}

.btn-info {
  &:not(:disabled) {
    &:not(.disabled).active {
      &:focus {
        box-shadow: none;
      }
      @include button-property;
    }
    &:not(.disabled) {
      &:active {
        &:focus {
          box-shadow: none;
        }
        @include button-property;
      }
    }
  }
}
.show {
  > .btn-info.dropdown-toggle {
    &:focus {
      box-shadow: none;
    }
    @include button-property;
  }
}

.btn {
  &:not(:disabled) {
    &:not(.disabled) {
      cursor: pointer;
    }
  }
}

button {
  &:focus {
    &:not(:focus-visible) {
      outline: 0;
    }
  }
}

.btn-info {
  @include button-property;
  &.focus {
    @include button-property;
    outline: 0;
    border: none !important;
    box-shadow: none;
  }
  &:focus {
    @include button-property;
    outline: 0;
    border: none !important;
    box-shadow: none;
  }
  &:hover {
    background-color: transparent;
    border-color: transparent;
  }
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  .dashboard-heading {
    font-size: $font-18;
    font-weight: 700;
    padding-left: 0.2rem;
    color: $color-8;
  }
  .dashboard-enquiry {
    font-size: $font-12;
    color: $color-9;
    padding-left: 0.2rem;
  }
  .container-fluid.top-row {
    background: $color-11;
    span.parent {
      display: flex;
      font-size: $font-14;
      color: $color-4;
      font-weight: 500;
      padding: 1.5rem 15px 0;
    }
    span.close-button {
      background: $color-18;
      border-radius: 50px;
      height: 24px;
      width: 24px;
      margin: 19px 0 0 26px;
      img {
        padding: 1px 0px 2px 7px;
      }
    }
  }
}
.row.middle-row {
  margin: 13px 0 0;
  background-color: $color-1;
  .card.colored {
    @include card-property($color-12, 0);

    span.round-1 {
      @include round-property($color-4);

      img.card-img-left {
        padding: 6px 0 0 10px;
      }
      .dot1 {
        @include dot;
      }
    }
    .card-body {
      padding: 0;
      margin: 21px 0 10px 11px;
      p.card-title {
        font-size: $font-14;
        color: $color-8;
        font-weight: 500;
        margin: 0px 0 0 0px;
      }
      p.card-text {
        font-size: $font-12;
        color: $color-13;
        margin: 0;
        opacity: 0.6;
      }
    }
  }
  .card.colored2 {
    @include card-property($color-12, 0px 34px 34px 0px);

    hr {
      border-bottom: 1px solid $color-4;
      border-top: 0px;
      width: 35px;
      margin: 31px 10px 0 10px;
    }
    span.round-1 {
      @include round-property($color-4);

      img.card-img-left {
        padding: 6px 0 0 8px;
      }
      .dot1 {
        @include dot;
      }
    }
    .card-body {
      padding: 0;
      margin: 21px 36px 10px 11px;
      p.card-title {
        font-size: $font-14;
        color: $color-15;
        font-weight: 500;
        margin: 0px 0 0 0px;
      }
    }
  }
  .card.colored3 {
    @include card-property($color-1, 0);

    hr.dashed {
      border-bottom: 1px dashed $color-4;
      border-top: 0px;
      width: 35px;
      margin: 31px 3px 0 -15px;
    }
    span.round-1 {
      @include round-property($color-14);

      img.card-img-left {
        padding: 6px 0 0 10px;
      }
      .dot1 {
        @include dot;
      }
    }
    .card-body {
      padding: 0;
      margin: 21px 24px 10px 11px;
      p.card-title {
        font-size: $font-14;
        color: $color-15;
        font-weight: 500;
        margin: 0px 0 0 0px;
      }
    }
  }
}
hr.solid {
  border-bottom: 1px solid $color-14;
  border-top: 0px;
  width: 35px;
  margin: 31px 14px 0 -3px;
}
.row.registration-row.bg-white {
  margin: 13px 0 0;
  h3.mb-3.enrollment-heading {
    font-size: $font-16;
    font-weight: 700;
    padding: 1rem;
    color: $color-8;
  }
}

// .nav-pills .nav-link.active,
// .nav-pills .show > .nav-link {
//   background-color: $color-1;
//   border-bottom: 2px solid $color-4;
//   border-radius: 0;
//   font-weight: 700;
//   color: $color-4;
// }
.nav-pills {
  .nav-link.active {
    background-color: $color-1;
    border-bottom: 2px solid $color-4;
    border-radius: 0;
    font-weight: 700;
    color: $color-4;
  }
  .show {
    > .nav-link {
      background-color: $color-1;
      border-bottom: 2px solid $color-4;
      border-radius: 0;
      font-weight: 700;
      color: $color-4;
    }
  }
}
.nav-pills {
  .nav-link.active {
    img {
      filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    }
  }
}

.tab-content {
  padding: 2rem;
}

.nav-tab-row {
  justify-content: space-between;
  width: 100%;
  margin: 0 1rem;
  border-bottom: 1px solid $color-6;
  ul.nav.nav-pills {
    /* border-bottom: 1px solid #fafafa; */
    margin: 0 0 0 -48px;
    li.nav-item {
      padding-left: 3rem;
      font-size: $font-14;
      span.detail {
        padding: 0 0 0 5px;
      }
    }
  }
}

.row.application-number {
  flex-direction: column;
  width: 35%;
  label {
    @include label-property;
    font-weight: 500;
  }
  input[type="text"] {
    @include input-property(2px 0px 2px 4px);
  }
}
.row.name-row {
  margin: 16px -15px 0 -31px;
  .name-col-1 {
    label {
      @include label-property;
    }
    input[type="text"] {
      @include input-property(5px 34px 5px 4px);
    }
  }
  .name-col-2 {
    label {
      @include label-property;
    }
    input[type="text"] {
      @include input-property(5px 45px 5px 4px);
    }
  }
}
.row.contact-row {
  margin: 16px -15px 0 -31px;
  .name-col-1 {
    label {
      @include label-property;
    }
    input[type="text"] {
      @include input-property(5px 19px 5px 37px);
      background: url(../pics/flag.png) no-repeat;
      background-position: 4px;
    }
  }
  .name-col-2 {
    label {
      @include label-property;
    }
    input[type="text"] {
      @include input-property(5px 19px 5px 37px);
      background: url(../pics/flag.png) no-repeat;
      background-position: 4px;
    }
  }
}

.row.parent-details {
  padding: 1.5rem 0 0;
  font-size: 14px;
  h3 {
    font-size: 14px;
    font-weight: 700;
  }
}
.row.academic-year {
  margin: 16px 0 0 -17px;
  .student-relation {
    padding: 0;
    label {
      @include label-property;
    }
    .wrap {
      .custom-select {
        @include custom-select-property;
      }
    }
  }
}

button {
  &.add-parent {
    border: none;
    font-size: $font-14;
    font-weight: 500;
    color: $color-4;
    border-radius: 4px;
    text-align: center;
    padding: 6px 11px;
    margin: 20px 0 0 -18px;
    background: $color-21 0% 0% no-repeat padding-box;
    border: 1px solid $color-22;
  }
}

.row.radio-button-row {
  margin: 16px 0 0 -17px;
  label {
    @include label-property;
  }
}

.custom-control-input {
  &:checked {
    ~ .custom-control-label {
      &::before {
        color: $color-1;
        border: none;
        background-color: $color-23;
      }
    }
  }
}
.row.academic-row {
  margin: 16px -15px 0 -31px;
  .name-col-1 {
    label {
      @include label-property;
    }
    input[type="date"] {
      @include input-date-roperty;
    }
  }
  .name-col-2 {
    label {
      @include label-property;
    }
    .wrap {
      .custom-select {
        @include custom-select-property;
      }
    }
  }
}
.row.gender-row {
  margin: 16px -15px 0 -31px;
  .name-col-1 {
    label {
      @include label-property;
      /* padding: 0; */
    }
  }
  .name-col-2 {
    label {
      @include label-property;
      /* padding: 0; */
    }
    input[type="date"] {
      @include input-date-roperty;
    }
  }
}
.row.select-row {
  margin: 16px -15px 0 -31px;
  .name-col-1 {
    label {
      @include label-property;
      /* padding: 0; */
    }
    .wrap {
      .custom-select {
        @include custom-select-property;
      }
    }
  }
  .name-col-2 {
    label {
      @include label-property;
      /* padding: 0; */
    }
    .wrap {
      .custom-select {
        @include custom-select-property;
      }
    }
  }
}
::placeholder {
  color: $color-8;
  opacity: 0.3;
}
input {
  outline-color: $color-4;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  margin-left: 80px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .custom-select {
    background: $color-1 url(../pics/david-down-arrow.png) 95% 50% no-repeat;
  }
}
.row.cancel-save-row {
  margin-top: 92.5px;
  margin-right: -144px;
  justify-content: flex-end;
  /* width: 100%; */
  button.cancel {
    border: 1px solid $color-4;
    font-size: $font-14;
    padding: 5px 16px;
    border-radius: 4px;
    background: $color-1;
    color: $color-4;
  }
  button.save {
    border: none;
    padding: 6px 19px;
    background: $color-4;
    font-size: $font-14;
    border-radius: 4px;
    color: $color-1;
  }
}
footer .row {
  background-color: $color-1;
  padding: 17px;
  font-size: $font-12;
  display: flex;
  margin: 20px -20px -20px -20px;
  justify-content: flex-end;
  color: $color-25;
  span {
    font-weight: 700;
  }
}

// ---------------------------media queries---------------------------------
@media screen and (max-width: 1024px) {
  #sidebar {
    position: absolute;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    z-index: 100;
  }
  #sidebar2 {
    position: absolute;
    z-index: 100;
    left: 120px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
  }
  .navbar {
    margin: 0 0 0 -15px;
  }
  .first-row .search-col {
    margin: 25px -13px 0 0px;
  }
  .first-row .top-right {
    margin: 14px -20px 11px -14px;
  }
  #content .container-fluid.top-row span.close-button {
    margin: -59px 0 0 640px;
  }
  .row.middle-row {
    flex-wrap: nowrap;
  }
  .row.middle-row .card.colored2 hr {
    width: 85px;
    margin: 31px 9px 0 -15px;
  }
  .nav-tab-row {
    margin: 0 3rem;
  }
  .nav-tab-row ul.nav.nav-pills li.nav-item {
    padding-left: 1.1rem;
  }
  .row.cancel-save-row {
    margin-right: 0px;
  }
}
@media screen and(max-width:767px) {
  #sidebar {
    position: absolute;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    z-index: 100;
  }
  #sidebar2 {
    position: absolute;
    z-index: 100;
    left: 120px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
  }
  .first-row .top-right {
    margin: 14px -118px 14px 0;
  }
  img.search {
    margin: 6px 0 0 -72px;
  }
  .first-row .search-col input {
    padding: 3px 0 0 5px;
    margin: 0;
    position: absolute;
  }
  .first-row .search-col {
    margin: 18px 0 0 -116px;
  }
  .nav-tab-row ul.nav.nav-pills li.nav-item {
    padding-left: 1.1rem;
  }
  .nav-tab-row ul.nav.nav-pills {
    margin: 2px 0 0 -17px;
  }
  .nav-tab-row {
    margin: 0;
  }
}
@media screen and (width: 540px) {
  .first-row .top-right {
    /* margin: 14px -118px 14px 0; */
    margin: -59px 0 0 0;
  }
  .first-row .search-col {
    margin: -52px 0 0 208px;
  }

  .nav-link {
    padding: 0.5rem 0rem;
  }
  .nav-tab-row ul.nav.nav-pills li.nav-item {
    padding-left: 1rem;
  }
  .nav-tab-row ul.nav.nav-pills {
    margin: 0;
    flex-direction: column;
  }
  #content .container-fluid.top-row span.close-button {
    margin: -59px 0 0 486px;
  }
  .row.select-row,
  .row.gender-row,
  .row.name-row,
  .row.academic-row,
  .row.contact-row {
    flex-direction: column;
  }
  .row.cancel-save-row {
    margin-right: 0px;
  }
  .row.middle-row {
    flex-wrap: wrap;
  }
  .row.middle-row .card.colored {
    width: 100%;
  }
  .row.middle-row .card.colored span.round-1 {
    margin: 18px 6px 0 85px;
  }
  .row.middle-row .card.colored2 {
    width: 100%;
    border-radius: 0px;
    hr {
      width: 0;
      height: 17px;
      margin: -4px 14px 0 180px;
    }
    span.round-1 {
      margin: 21px 0 0 -106px;
    }
  }
  .row.middle-row .card.colored3 {
    width: 100%;
  }
  .row.middle-row .card.colored3 hr.dashed {
    width: 0;
    height: 17px;
    margin: -2px 3px 0 179px;
  }
  .row.middle-row .card.colored3 span.round-1 {
    margin: 23px 0 0 -96px;
  }
  hr.solid {
    width: 0;
    height: 17px;
    margin: -2px 3px 0 179px;
  }
}
@media screen and (max-width: 479px) {
  #sidebar {
    position: absolute;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    z-index: 100;
  }
  #sidebar2 {
    position: absolute;
    z-index: 100;
    left: 120px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
  }
  .first-row .top-right {
    margin: -109px -1px -4px;
  }
  .first-row .search-col {
    margin: -1px 15px 25px 90px;
  }
  #content .container-fluid.top-row span.close-button {
    margin: -114px 0 0 213px;
  }
  .row.middle-row {
    flex-wrap: wrap;
  }
  .row.middle-row .card.colored {
    width: 100%;
  }
  .row.middle-row .card.colored span.round-1 {
    margin: 18px 6px 0 85px;
  }
  .row.middle-row .card.colored2 {
    width: 100%;
    border-radius: 0px;
    hr {
      width: 0;
      height: 17px;
      margin: -4px 14px 0 180px;
    }
    span.round-1 {
      margin: 21px 0 0 -106px;
    }
  }
  .row.middle-row .card.colored3 hr.dashed {
    width: 0;
    height: 17px;
    margin: -2px 3px 0 179px;
  }
  .row.middle-row .card.colored3 span.round-1 {
    margin: 23px 0 0 -96px;
  }
  hr.solid {
    width: 0;
    height: 17px;
    margin: -2px 3px 0 179px;
  }
  .nav-tab-row {
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid #8e9094;
  }
  ul.nav.nav-pills {
    /* border-bottom: 1px solid #fafafa; */
    flex-direction: column;
  }
  li.nav-item {
    padding-left: 3rem;
  }
  .nav-link {
    padding: 0.2rem 0.5rem;
  }
  .row.select-row,
  .row.gender-row,
  .row.name-row,
  .row.academic-row,
  .row.contact-row {
    flex-direction: column;
  }
  .row.cancel-save-row {
    margin-right: 0px;
  }
}
@media screen and (max-width: 280px) {
  .first-row .top-right {
    margin: -60px -14px -26px 9px;
  }
  .second-row .wrapper #sidebar2 {
    width: auto;
  }
  .first-row .top-right .notif {
    margin: 0 4px 0 0;
  }
  #content .container-fluid.top-row span.close-button {
    margin: -75px 0 0 213px;
  }
  .row.cancel-save-row {
    margin-right: -3px;
  }
  .row.select-row .col-6.name-col-2 .wrap .custom-select,
  .row.select-row .col-6.name-col-1 .wrap .custom-select,
  .row.academic-row .col-6.name-col-2 .wrap .custom-select {
    width: 100%;
  }
  .row.gender-row .col-6.name-col-2 input[type="date"],
  .row.academic-row .col-6.name-col-1 input[type="date"],
  .row.name-row .col-6.name-col-2 input[type="text"],
  .row.name-row .col-6.name-col-1 input[type="text"],
  .row.contact-row .col-6.name-col-1 input[type="text"],
  .row.contact-row .col-6.name-col-2 input[type="text"],
  .row.academic-year .student-relation .wrap .custom-select,
  .row.application-number input[type="text"] {
    width: auto;
  }
}
